* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
}

header,
footer,
main,
aside,
main>section {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px;
}

body>section {
  display: flex;
  gap: 12px;
}

main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

aside {
  flex: 2;
}